absl-py==2.1.0
aiofiles==24.1.0
aiohttp==3.7.4.post0
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.2
astunparse==1.6.3
async-lru==2.3.0
async-timeout==3.0.1
attrs==26.1.0
babel==2.18.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
bidict==0.22.1
bleach==6.4.0
boto==2.49.0
branca==0.8.2
Brotli==1.1.0
cachetools==5.3.2
certifi==2026.4.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.2.0
click==8.2.1
colorama==0.4.6
comm==0.2.3
contourpy==1.1.1
cryptography==42.0.2
cycler==0.12.0
debugpy==1.8.21
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
discord==1.0.1
discord-protos==0.0.2
discord-webhook==1.3.0
discord.py==1.6.0
discord.py-self==2.0.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
fabric==3.2.2
faiss-cpu==1.11.0.post1
fastapi==0.116.1
fastjsonschema==2.22.0
ffmpeg==1.4
ffmpy==0.6.1
filelock==3.12.2
flatbuffers==23.5.26
folium==0.20.0
fonttools==4.43.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.6.0
gast==0.5.4
git-filter-repo==2.47.0
google-auth==2.27.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gradio==5.41.1
gradio_client==1.11.0
greenlet==3.3.1
groovy==0.1.2
grpcio==1.60.1
h11==0.16.0
h5py==3.10.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.3
hydra-core==1.0.7
idna==3.4
invoke==2.2.0
ipykernel==7.3.0
ipython==8.39.0
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.20.0
Jinja2==3.1.2
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_builder==1.1.1
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server==2.20.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==2.8.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.5
lark==1.3.1
libclang==16.0.6
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.2.2
mdurl==0.1.2
mistune==3.3.4
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.0.4
mysql-connector-python==8.0.32
narwhals==2.24.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio2==1.7.2
networkx==3.1
notebook==7.6.1
notebook_shim==0.2.4
numpy==1.25.1
oauthlib==3.2.2
ollama==0.6.1
omegaconf==2.0.6
openai==0.28.1
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.11.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==26.2
pandas==2.3.1
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.8.7
Pillow==10.0.1
platformdirs==4.1.0
playwright==1.58.0
plotly==6.9.0
prettytable==3.9.0
prometheus_client==0.26.0
prompt_toolkit==3.0.53
protobuf==4.23.4
psutil==7.2.2
pure_eval==0.2.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
pyee==13.0.0
Pygments==2.17.2
PyNaCl==1.4.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.11.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.15.0
python-engineio==4.8.2
python-json-logger==4.1.0
python-multipart==0.0.20
python-socketio==5.11.0
python-vlc==3.0.20123
pytube==15.0.0
pytube3==9.6.4
pytz==2025.2
pywinpty==3.0.5
PyYAML==6.0.1
pyzmq==27.1.0
referencing==0.37.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rgbprint==4.0.2
rich==13.7.0
rpds-py==0.30.0
rsa==4.9
ruff==0.12.7
safehttpx==0.1.6
safetensors==0.3.1
seaborn==0.13.2
selenium==4.43.0
semantic-version==2.10.0
Send2Trash==2.1.0
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.5
SQLAlchemy==2.0.51
stack-data==0.6.3
starlette==0.47.2
sympy==1.14.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
tf-estimator-nightly==2.8.0.dev2021122109
tinycss2==1.5.1
tkcalendar==1.6.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.4.1
tomlkit==0.13.3
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tornado==6.5.7
tqdm==4.65.0
traitlets==5.15.1
trio==0.33.0
trio-websocket==0.12.2
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
uritools==4.0.2
urlextract==1.8.0
urllib3==2.7.0
uvicorn==0.35.0
wcwidth==0.2.13
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.0.1
widgetsnbextension==4.0.15
wrapt==1.14.1
wsproto==1.2.0
xlsxwriter==3.2.9
xyzservices==2025.11.0
yarl==1.9.2
youtube-dl==2021.2.10
